.flex {
    display: flex;
}

.form-control {
    flex: 1;

    label {
        display: block;
        text-align: start;

        &.center {
            text-align: center;
        }
    }

    .share-btn {
        min-width: unset;
        font-size: 1em;

        img {
            display: block;
            width: 1.5em;
            height: 1.5em;
        }
    }
}

@media screen and (max-width: 980px) {
    .flex {
        display: block;

        .form-control {
            margin-top: 1em;
        }
    }
}

// Base Colors
$sliderColour: #00405c;
$trackColour: #d7dcdf;
$shade-0: #fff;
$teal: #1abc9c;

$range-handle-color: $sliderColour;
$range-handle-color-hover: darken($sliderColour, 15%);
$range-handle-size: 20px;

$range-track-color: $trackColour;
$range-track-height: 10px;

$range-label-color: $sliderColour;
$range-label-width: 60px;

.range-slider-container {
    width: 100%;
}

.range-slider-range {
    -webkit-appearance: none;
    width: calc(100% - (#{$range-label-width + 13px}));
    height: $range-track-height;
    border-radius: 5px;
    background: $range-track-color;
    outline: none;
    padding: 0;
    margin: 0;

    // Range Handle
    &::-webkit-slider-thumb {
        appearance: none;
        width: $range-handle-size;
        height: $range-handle-size;
        border-radius: 50%;
        background: $range-handle-color;
        cursor: pointer;
        transition: background 0.15s ease-in-out;

        &:hover {
            background: $range-handle-color-hover;
        }
    }

    &:active::-webkit-slider-thumb {
        background: $range-handle-color-hover;
    }

    &::-moz-range-thumb {
        width: $range-handle-size;
        height: $range-handle-size;
        border: 0;
        border-radius: 50%;
        background: $range-handle-color;
        cursor: pointer;
        transition: all 0.15s ease-in-out;

        &:hover {
            background: $range-handle-color-hover;
        }
    }

    &:active::-moz-range-thumb {
        background: $range-handle-color-hover;
    }
}

// Range Label
.range-slider-value {
    display: inline-block;
    position: relative;
    width: $range-label-width;
    color: white;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: $range-label-color;
    padding: 5px 10px;
    margin-left: 8px;

    &:after {
        position: absolute;
        top: 8px;
        left: -7px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-right: 7px solid $range-label-color;
        border-bottom: 7px solid transparent;
        content: "";
    }
}

// Firefox Overrides
::-moz-range-track {
    background: $range-track-color;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}
